/* body{
    /* height: 100%;
    /* width: 100%; */
    /* background-image: url('omma.jpg');
    height: 100%;
    width: 100%; */
    /* background-position: bottom center, 50%, 50%; */
    /* position: absolute; */ 
/* }
img{
    height: 100%;
    width: auto;
/* } */ 
body{
    background-color: rgb(53, 52, 52);
}